*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color:white;
  padding: 10px;
}
a{
  color:white;
  margin:0 5px;
  text-decoration: none;
}
button{
  background-color: aqua;
  padding:10px;
  border-radius: 4px;
  border:none;
  color:black;
}
.homepage{
  height:520px;
  position: relative;
  background-color: rgb(247, 255, 240);
  display: block;
}
.homepara{
  display: flex;
  width:50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:15%px;
  position: absolute;
  top:25%;
  left:5%;
  gap:10px;
}
